body {
    display: grid;
    grid: "h"
	  "b"
	  "f";
    grid-template-rows: max-content 1fr max-content;
    margin: 0;
    padding: 0;
    height: 100vh;
}
body>* {
    padding: 20px;
    margin: 0;
}
body>h1 {
    grid-area: h;
}
body>p {
    grid-area: b;
}

body>figure {
    grid-area: f;
    display: block;
    text-align: center;
    padding-bottom: 100px;
}
